* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

#container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 80%;
  width: 80%;
  background-color: rgb(255, 255, 255);
  border-radius: 1%;
  align-items: center;
}

#logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 7rem;
  gap: 0.9rem;
}

img {
  width: 5rem;
  height: 5rem;
}

#botoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: #535353 1.8px solid;
  padding: 1.2rem;
  width: 72%;
  margin-top: 0.5rem;
  border-radius: 0.3rem;
  margin-bottom: 7rem;
}

#login {
  background-color: rgb(190, 190, 190);
  border: #505050 1.8px solid;
  padding: 0.5rem;
  width: 80%;
  display: flex;
  justify-content: center;
  border-radius: 0.3rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

#forgot {
  background-color: rgb(190, 190, 190);
  border: #505050 1.8px solid;
  padding: 0.5rem;
  width: 80%;
  display: flex;
  justify-content: center;
  border-radius: 0.3rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

#left-container {
  margin: 4px;
  flex: 1;
  display: flex;
      flex-direction: column;
    align-items: center;
    justify-content: center;
}

#right-container {
  flex: 2;
  width: 100%;
  height: 100%;

  background-image: url("./assets/book-45.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 8px;
}

@media (max-width: 600px) {
  body {
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    padding: 20px;
  }

  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 75%;
    background-color: rgb(255, 255, 255);
    border-radius: 1%;
  }

  #login {
    background-color: rgb(190, 190, 190);
    border: #505050 1.8px solid;
    padding: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 0.3rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

  #forgot {
    background-color: rgb(190, 190, 190);
    border: #505050 1.8px solid;
    padding: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 0.3rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

  #botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: #535353 1.8px solid;
    padding: 1.4rem;
    width: 76%;
    margin-top: 0.5rem;
    border-radius: 0.3rem;
  }

  #logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 2rem;
    gap: 1.5rem;
  }

  img {
    width: 5rem;
    height: 5rem;
  }

  #banner {
    width: 100%;
    height: 7rem;
    background-image: url("./assets/books.gif");
    background-size: cover;
    background-position: center;
    border-radius: 0.2rem;
  }
}
