
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

#container {
  display: flex;
  width: 90%;
  max-width: 1000px;
  height: 85vh;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}


#left-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
}

#logo {
  margin-bottom: 2.5rem;
}

#logo img {
  width: 70px;
  height: 70px;
  margin-bottom: 1rem;
  border-radius: 12px;
}

#p1 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #1e293b;
  line-height: 1.2;
}

#p2 {
  font-size: 0.9rem;
  color: #64748b;
  margin-top: 8px;
}

#card {
  width: 100%;
  max-width: 300px;
  background-color: #ffffff;
  border: 1px solid #e2e8f0;
  border-radius: 16px;
  box-shadow: 0 1px 3px black 
}

#banner {
  border-radius: 16px 16px 0 0;
  width: 100%;
  height: 100px;
  background-image: url("./assets/books.gif");
  background-size: cover;
  background-position: center;
  display: none;
}

#botoes-links {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}


#login, #loja {
  display: block;
  padding: 12px;
  text-decoration: none;
  font-weight: 500;
  border-radius: 8px;
  transition: all 0.3s ease;
  text-align: center;
}

#login {
  background-color: #1e3a8a;
  color: #fff;
}

#loja {
  background-color: #fff;
  color: #1e3a8a;
  border: 2px solid #1e3a8a;
}

#right-container {
  flex: 1.2;
  background-image: url("./assets/book-45.gif");
  background-size: cover;
  background-position: center;
}

@media (max-width: 430px) {
  #container {
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  #right-container {
    display: none;
  }
  #left-container {
    padding: 30px 20px;
  }

  #banner {
  display: block;
}
}



