* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f9f9f9;
  padding: 20px 0px;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

#mainheader {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 14px;
  background-color: #fdfdfd;
  border-bottom: 1px solid #000;
}

#logoagrupa {
  display: flex;
  align-items: center;
  gap: 10px;
}

h1 {
  color: #2c2c2c;
  font-size: 28px;
}

.containerloja {
  justify-content: center;
    gap: 30px;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.item {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  padding: 20px;
  width: 320px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.productimg {
  width: 100%;
  border-radius: 6px;
  object-fit: contain;
  margin-bottom: 15px;
}

.productname {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

.productdescription {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1.4rem;
}

.productfooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productprice {
  font-size: 1.3rem;
  font-weight: bold;
  color: #e41616;
}

.buybutton {
  background-color: #313131;
  color: white;
  border: none;
  padding: 12px 17px;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.7rem;
}

#menu-icon {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  margin-left: auto;
}

#menu-icon span {
  width: 25px;
  height: 2.5px;
  background-color: #333;
  border-radius: 10px;
}

#desktopmenu {
  display: none;
}

@media (min-width: 710px) {
  #menu-icon {
    display: none;
  }

  #desktopmenu {
    display: flex;
    gap: 20px;
    padding-right: 1rem;
  }

  .item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  }

  .buybutton:hover {
    background-color: #e41616;
  }
}
