* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  background-color: #f9f9f9;
}

#mainheader {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  background-color: #fdfdfd;
  border-bottom: 1px solid #000;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

#logoagrupa {
  display: flex;
  align-items: center;
  gap: 10px;
}

#menu-icon {
  display: flex;
  flex-direction: column;
  gap: 1px;
  cursor: pointer;
  margin-left: auto;
}

#menu-icon span {
  width: 25px;
  height: 2.5px;
  background-color: #333;
  border-radius: 10px;
}

h1 {
  color: #2c2c2c;
  font-size: 28px;
}

#desktopmenu {
    display: none;
}