* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}


body {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#container {
  width: 90vw;
  height: 90vh;
  border-radius: 18px;
  background-color: white;
  display: flex;
  padding: 18px;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.05);
}

#left-container {
  margin: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 20px;
}

#header-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

#title-head {
  font-size: 20px;
}

#ahome {
  text-decoration: none;
  color: black;
}

main {
  width: 75%;
}

#subtitle-page {
  margin-bottom: 2rem;
}

#welcome-txt {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  line-height: 1.2;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-container label {
  font-size: 14px;
  margin-bottom: 4px;
  color: #333;
}

.input-group {
  display: flex;
  gap: 15px;
  width: 100%;
}

select.input-text {
  background-color: white;
  background-position: right 10px center;
  background-size: 1em;
  padding-right: 30px;
}

.input-text {
  height: 2.5rem;
  border-radius: 8px;
  border: solid 1px #bbbbbb;
  padding-left: 12px;
  font-size: 14px;
}

#btn-signin {
  margin-top: 1.5rem;
  height: 45px;
  width: 100%; 
  max-width: 125px;
  border-radius: 8px;
  border: none;
  background-color: #d8a581;
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 0.8rem;
}

footer {
  margin-top: 20px;
}

#p-color {
  color: #7e7e7e;
  font-size: 14px;
}

#signin-color {
  color: rgb(134, 56, 207);
  text-decoration: none;
  font-weight: 500;
}

#right-container {
  flex: 1;
  background-image: url("../../assets/livraria.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}

@media (max-width: 825px) {
  #right-container {
    display: none; 
  }

  #container {
    width: 95vw;
    height: 100%;
    min-height: 90vh;
    padding: 30px 17px;
  }

  main {
    width: 100%;
  }

}

@media (max-width: 480px) {
  .input-group {
    flex-direction: column;
    gap: 0;
  }
}