* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container {
  width: 90vw;
  height: 90vh;
  border-radius: 18px;
  background-color: white;
  display: flex;
  padding: 20px;
}

#left-container {
  margin: 4px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

#header-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

#title-head {
  font-size: 20px;
}

#ahome {
  text-decoration: none;
  color: black;
}

main {
  width: 60%;
}

#welcome-txt {
  margin-bottom: 1rem;
}

#subtitle-page {
  margin-bottom: 2rem;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-text {
  margin-top: 0.3rem;
  height: 2rem;
  border-radius: 8px;
  border: solid 1px #bbbbbb;
  padding-left: 8px;
}

#btn-signin {
  margin-top: 2rem;
  height: 42px;
  width: 120px; 
  border-radius: 9px;
  border: solid 1px #ccc;
  background-color: #d8a581;
  font-weight: 600;
  cursor: pointer;
}

#right-container {
  flex: 1;
  background-image: url("../../assets/bookshelter.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}

#p-color {
  color: #7e7e7e;
}

#signin-color {
  color: rgb(134, 56, 207);
  text-decoration: none;
}

/* Responsividade simples para celular */
@media (max-width: 600px) {
  #right-container {
    display: none;
  }
  main {
    width: 100%;
  }
}